.hopping-dots-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hopping-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.hopping-controls-container {
  position: absolute;
  bottom: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 600px;
  padding-left: 64px;
  padding-right: 64px;
}
